<main class="container">
    <%= form_with model: current_user, url: profile_path, local: true, class: "edit-profile" do |form|%>
        <h1>Editar seu perfil</h1>
        <div class="fields">
            <%= form.file_field :avatar, class:"field"%>
        </div>

        <div class="fields">
            <%= form.text_field :name, placeholder: "Nome", class:"field"%>
        </div>

        <div class="actions">
            <%= form.submit%>
        </div>
    <% end %>
</main>