<%= form_with model: post, class:"new-post" do |form| %>
  <h1>Novo post</h1>
  <div>
    <%= form.file_field :photo, class:"field" %>
  </div>

  <div>
    <%= form.text_field :description, placeholder: 'Descrição', class:"field" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
