<main class="posts-page has-comments container">
  <section class="post">
    <header>
      <nav>
      <%= image_tag "default-avatar.jpg", class: "photo"%>
      <h4>nome-do-usuario</h4>
      </nav>
    </header>
  </section>
</main>